body p {
	color: blue;
}

div > p {
	color: red;
}

/* this will apply to every first leter of p tag*/
p::first-letter {
	font-size: xx-large;
}

p:first-child i {
	color: chartreuse;
}

li:nth-last-child(2) {
	color: crimson;
}
